<div class="container" id='divKerusakan'>
  <div id="frmTambahKerusakan">
    <div class="form-group">
        <label>Kode Kerusakan</label>
        <input type="text" class="form-control" id='txtKodeKerusakan' placeholder="Kode Kerusakan">
    </div>
    <div class="form-group">
        <label>Tipe Kerusakan</label>
        <select class="form-control" id="txtTipeKerusakan">
          <option v-for='jk in dataKerusakan' :value='jk.id'>{{jk.nama}}</option>
        </select>
    </div>
    <div class="form-group">
        <label>Kerusakan</label>
        <textarea class="form-control" rows="8" cols="80" placeholder="Deksripsi kerusakan" id='txtKerusakan'></textarea>
    </div>
    <div class="form-group">
        <label>Solusi</label>
        <textarea class="form-control" rows="8" cols="80" placeholder="Solusi" id='txtSolusi'></textarea>
    </div>
    <div>
      <a href='#!' class='btn btn-lg btn-primary' id='btnSimpan' v-on:click='simpanKerusakanAtc'><i class='fas fa-save'></i> Simpan Kerusakan</a>&nbsp;&nbsp;
      <a href='#!' class='btn btn-lg btn-warning' id='btnKembaliKe' v-on:click='kembaliAtc'><i class='fas fa-arrow-alt-circle-left'></i> Kembali</a>
    </div>
  </div>
  <div class='row' id="frmDataKerusakan">
        <div style='margin-bottom: 15px;'>
            <a href='#!' class="btn btn-warning" id="btnTambahKerusakan" v-on:click='tambahKerusakanAtc'><i class='fas fa-plus-circle'></i> Tambah Kerusakan</a>
        </div>
        <div class="container row" style='margin-bottom:14px;'>
            <label>Tipe Kerusakan</label>
            <select class="form-control" id="txtTipeKerusakanAwal">
              <option value="none">-- Pilih jenis kerusakan --</option>
              <option v-for='jk in dataKerusakan' :value='jk.id'>{{jk.nama}}</option>
            </select>
        </div>
        <table class="table table-sm table-bordered" id='tbl_kerusakan'>
            <thead>
                <tr>
                    <th>Kd Kerusakan</th>
                    <th>Kerusakan</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
              <tr v-for='dk in dataKerusakanMain'>
                <td>{{dk.kdKerusakan}}</td>
                <td>{{dk.kerusakan}}</td>
                <td><a href='#!' class="btn btn-sm btn-primary" v-on:click='detailAtc(dk.kdKerusakan)'>Detail</a></td>
              </tr>
            </tbody>
        </table>
  </div>
  <div id="frmDetailKerusakan">
    <div class="form-group">
      <label>Kode Kerusakan</label>
      <input type="text" class="form-control" readonly id='txtDetailKdKerusakan' :value="detailKdKerusakan" placeholder="Kode kerusakan">
    </div>
    <div class="form-group">
      <label>Tipe Kerusakan</label>
      <input type="text" class="form-control" readonly id='txtDetailTipeKerusakan' :value="detailKdKerusakan" placeholder="Tipe kerusakan">
    </div>
    <div class="form-group">
      <label>Kerusakan</label>
      <textarea class="form-control" readonly></textarea>
    </div>
    <div class="form-group">
      <label>Solusi</label>
      <textarea class="form-control" readonly></textarea>
    </div>
    <div>
      <a href='#!' class="btn btn-primary" v-on:click='detailAtcForm'>{{capMainButtonForm}}</a>&nbsp;&nbsp;<a href='#!' class="btn btn-warning">Kembali</a>
    </div>
  </div>
</div>
<script src='js/dataKerusakan.js'></script>
