<div id='divDiagnosis'>
    <div id='divDataDiagnosis'>
        <a href='#!' class="btn btn-primary btn-lg" id='btnUjiBaru' v-on:click='ujiBaruAtc'><i class='fas fa-clipboard-check'></i> Uji Diagnosis Baru</a>
        <div style='margin-top:20px;'>
          <div class="card-header">
              <h5>Riwayat Pengujian</h5>
            </div>
          <table id='tblHistoryUji' class="table table-sm">
              <thead>
                  <tr>
                      <th>Kode Uji</th>
                      <th>Detail Uji</th>
                      <th>Aksi</th>
                  </tr>
              </thead>
          </table>
      </div>
    </div>
    <div id='divFrmUjiDiagnosisBaru'>
      <div class="form-group">
        <label>Kode Uji</label>
        <input type="text" class="form-control" id='txtKodeUji' :value='kodeUji' readonly>
      </div>
      <div class="form-group">
        <label>Nama Pelanggan</label>
        <input type="text" class="form-control" id='txtNamaPelanggan'>
      </div>
      <div class="form-group">
        <label>Nomor Polisi</label>
        <input type="text" class="form-control" id='txtNomorPolisi'>
      </div>
      <div class="form-group">
        <label>Nama Mobil</label>
        <input type="text" class="form-control" id='txtNamaMobil'>
      </div>
      <div>
        <a href='#!' class="btn btn-primary btn-icon icon-left" v-on:click='ujiStep2'><i class='fas fa-chevron-circle-right'></i> Next</a>
      </div>
    </div>

    <div id='divDiagnosis2'>   
    <div class="card card-primary">
      <div class="card-header">
        <h4>Data Pengujian</h4>
      </div>
      <div class="card-body">
        <table>
       <tr>
         <td>Kode Uji</td><td><b>{{kodeUji}}</b></td>
       </tr>
       <tr>
        <td>Nama Pelanggan</td><td>{{pelanggan}}</td>
      </tr>
      <tr>
        <td>Nomor Polisi</td><td>{{nomorPolisi}}</td>
      </tr>
      <tr>
        <td>Nama Mobil</td><td>{{mobil}}</td>
      </tr>
    </table>
      </div>
    </div>
      <div class="form-group">
        <label>Pilih Gejala</label>
        <div class="form-check" v-for='dg in dataGejala'>
          <input class="form-check-input" v-on:click='updateGejala(dg.id)' type="checkbox" :id="dg.id">
          <label class="form-check-label" for="defaultCheck1">{{dg.nama}}</label>
        </div>
        <hr/>
        <i>Nilai prioritas akan diberikan kepada pilihan pertama dalam menentukan gejala (jika perhitungan menghasilkan bobot yang sama untuk tiap kerusakan)</i>
      </div>
      <div>
        <a href='#!' class="btn btn-primary btn-icon icon-left"  v-on:click='ujiStep3'><i class='fas fa-stethoscope'></i> Mulai Diagnosis</a>
      </div>
    </div>

    <div id='divHasilDiagnosis'>
      <div class="card card-primary">
        <div class="card-header">
          <h4>Hasil Pengujian</h4>
        </div>
        <div class="card-body">
          <table>
            <tr>
              <td>Kode Uji</td><td><b>{{kodeUji}}</b></td>
            </tr>
            <tr>
             <td>Nama Pelanggan</td><td>{{pelanggan}}</td>
           </tr>
           <tr>
             <td>Nomor Polisi</td><td>{{nomorPolisi}}</td>
           </tr>
           <tr>
             <td>Nama Mobil</td><td>{{mobil}}</td>
           </tr>
           <tr>
            <td>Kerusakan Final</td><td>{{kerusakanFinal}}</td>
          </tr>
          <tr>
            <td>Solusi</td><td><b>{{solusiFinal}}</b></td>
          </tr>
         </table>
         <hr/>
         <h5>Diagnosis Gejala</h5>
         <table class="table table-striped">
           <thead>
            <tr>
              <th>Gejala</th><th>Bobot</th>
            </tr>
           </thead>
           <tbody>
             <tr v-for='df in dataFinalDiagnosis'>
               <td>{{df.kd}} - {{df.kerusakan}}</td>
               <td>{{df.bobot}} %</td>
             </tr>
           </tbody>
         </table>
         <a href='#!' class='btn btn-primary' v-on:click='kembaliAtc'>Kembali</a>
        </div>  
      </div>
    </div>

</div>
<script src='js/ujiDiagnosis.js'></script>
